<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店名称" prop="hotelname">
                <el-input v-model="searchform.hotelname" placeholder="请输入" class="search-input"></el-input>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="regionname" label="所属区域" ></el-table-column>
          <el-table-column prop="id" label="酒店ID" width="100"></el-table-column>
          <el-table-column prop="hotelname" label="酒店名称" width="250"></el-table-column>
          <el-table-column prop="typename" label="星级" width="200"></el-table-column>
          <el-table-column prop="banquethallnum" label="宴厅数量" width="80"></el-table-column>
          <el-table-column prop="menunum" label="菜单数量" width="80"></el-table-column>
          <el-table-column prop="status" label="状态" width="100">
            <template slot-scope="scope">
              <span v-show="scope.row.status === 1">正常</span>
              <span v-show="scope.row.status === 0">冻结</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!-- 查看酒店基本信息 -->
    <el-dialog title="酒店基本信息" :visible.sync="catVisible" width="967px" @close="closeDialog('form')" center>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row>
          <el-col :span="8">
            <el-form-item label="酒店名称" prop="hotelname">
              <el-input v-model="form.hotelname" class="input-width" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="酒店类型" prop="type">
              <el-select v-model="form.type" disabled>
                <el-option 
                  v-for="(item, index) in typeList" :key="index"
                  :label="item.name" 
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="容纳桌数" prop="maxtable">
              <el-select v-model="form.maxtable" disabled>
                <el-option 
                  v-for="(item, index) in tableList" :key="index"
                  :label="item.name" 
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="联系人员" prop="contacts">
              <el-input v-model="form.contacts" class="input-width" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="联系方式" prop="account">
              <el-input v-model="form.account" class="input-width" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="价格区间" prop="moneytype">
              <el-select v-model="form.moneytype" disabled>
                <el-option 
                  v-for="(item, index) in moneyList" :key="index"
                  :label="item.name" 
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店特色" prop="characteristic">
              <el-select v-model="form.characteristic" multiple disabled style="width: 800px">
                <el-option 
                  v-for="(item, index) in hotelstyle" :key="index"
                  :label="item.name" 
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="所属区域">
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.province" disabled class="input-width">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.city" disabled class="input-width">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.area" disabled class="input-width">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="酒店坐标">
            <el-col :span="8">
              <el-form-item label="经度" label-width="65px" prop="longitude">
                <el-input v-model="form.longitude" class="input-width" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="维度" label-width="65px" prop="latitude">
                <el-input v-model="form.latitude" class="input-width" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-button type="success" @click="openMap">查看</el-button>
            </el-col>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店地址" prop="address">
              <el-input
                type="textarea"
                :rows="4"
                resize="none"
                placeholder="请输入.."
                v-model="form.address"
                maxlength="200"
                show-word-limit
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店交通" prop="traffic">
              <el-input
                type="textarea"
                :rows="5"
                resize="none"
                placeholder="请输入..."
                v-model="form.traffic"
                maxlength="300"
                show-word-limit
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店简介" prop="introduction">
              <el-input
                type="textarea"
                :rows="5"
                resize="none"
                placeholder="请输入..."
                v-model="form.introduction"
                maxlength="300"
                show-word-limit
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店图片">
              <ul class="image-ul hotelimage" v-viewer="{movable: false}">
                <li class="image-li" 
                  v-for="(item, index) in form.pcpath" :key="index"
                  @click="handleImage('.hotelimage')"
                >
                  <img :src="item" alt="">
                </li>
              </ul>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-divider>操 作</el-divider>
      <span slot="footer" class="dialog-footer">
        <el-popover
          placement="top"
          width="160"
          v-model="noforbidVisible"
        >
          <p>确定解冻吗？</p>
          <div style="text-align: right; margin-top: 10px">
            <el-button size="mini" type="text" @click="noforbidVisible = false">取 消</el-button>
            <el-button type="primary" size="mini" @click="handleForbid">确 定</el-button>
          </div>
          <el-button type="primary" slot="reference" v-show="rowData.status === 0">解 冻</el-button>
        </el-popover>
        <el-popover
          placement="top"
          width="160"
          v-model="forbidVisible"
        >
          <p>确定冻结吗？</p>
          <div style="text-align: right; margin-top: 10px">
            <el-button size="mini" type="text" @click="forbidVisible = false">取 消</el-button>
            <el-button type="primary" size="mini" @click="handleForbid">确 定</el-button>
          </div>
          <el-button type="primary" slot="reference" v-show="rowData.status === 1">冻 结</el-button>
        </el-popover>
        <el-popover
          placement="top"
          width="160"
          v-model="delVisible">
          <p>确定删除吗？</p>
          <div style="text-align: right; margin-top: 10px">
            <el-button size="mini" type="text" @click="delVisible = false">取 消</el-button>
            <el-button type="danger" size="mini" @click="handleDel">确 定</el-button>
          </div>
          <el-button type="danger" slot="reference" disabled>删 除</el-button>
        </el-popover>
      </span>
    </el-dialog>

    <!-- 地图查看 -->
    <vMap @mapInfo="mapInfo" @closeMap="closeMap"  :style="{'z-index': isshow}" :longitude="form.longitude" :latitude="form.latitude" :isEdit="false"></vMap>
    
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import quillConfig from '../../../assets/js/quill-config.js'
import vMap from '@/components/common/Map/index'
export default {
  data () {
    return {
      searchform: {
        hotelname: ''
      },
      searchresult: {
        hotelname: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,      
      catVisible: false,
      forbidVisible: false,
      noforbidVisible: false,
      form: {},
      moneyList: [],
      hotelstyle: [],
      tableList: [],
      typeList: [],
      provinces: [],
      citys: [],
      areas: [],
      isshow: -99999,
      editorOption: quillConfig
    }
  },
  watch: {
    
  },
  computed: {
   ...mapState([
      'adminId',
      'uuadmin'
    ])
  },
  components: {
    quillEditor,
    vMap
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/admin/hotellist.do", {
        page: this.page,
        limit: this.limit,
        hotelname: this.searchresult.hotelname,
        cityid: this.uuadmin.cityid,
        areaid: this.uuadmin.areaid
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row) {
      this.hotelStyle();
      this.moneyData();
      this.typeData();
      this.tableNum();
      this.provinceList();
      http.post("/hotel/hotelinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.rowData = data;
          this.cityList(data.province, data.city);
          this.catVisible = true;
          this.form = data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
      
    },
    handleDel () {
      http.post("/admin/hotelfrozen.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this.catVisible = false;
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    handleForbid() {
      let status = 0;
      if (this.rowData.status === 0) {
        status = 1;
      } else {
        status = 0;
      }
      http.post("/admin/hotelfrozen.do", {
        id: this.rowData.id,
        status: status
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this.catVisible = false;
          this.forbidVisible = false;
          this.noforbidVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    closeDialog(formName) {
      this[formName] = {};
    },
    handleImage (value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer
        viewer.show();
      })
    },
    openMap (value) {
      this.isshow = 99999;
    },
    closeMap () {
      this.isshow = -99999;
    },
    mapInfo (value) {
      this.form.longitude = value.lng;
      this.form.latitude = value.lat;
      this.isshow = -99999;
    },
    handVideo (value) {
      this.catVideo = true;
      this.mvpath = value
    },
    closeVideo () {
      this.catVideo = false;
      this.mvpath = '';
    },
    moneyData () {
      //金额下拉
      http.post("/money/droplist.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.moneyList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    hotelStyle () {
      //酒店特色
      http.post("/style/droplist.do", {
        type: 3
      }).then((result) => {
        if (result.status === 1) {
          this.hotelstyle = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //酒店类型
      http.post("/type/hotletype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.typeList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    tableNum () {
      //桌数
      http.post("/type/tabletype.do")
      .then((result) => {
        if (result.status === 1) {
          this.tableList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList(province, city) {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
          if (this.citys.length > 0) {
            if (this.citys[0].level === 2) {
              this.areasList(city)
            } else {
              this.areas = [];
            }
          } else {
            this.areas = [];
          }
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList(city) {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
.image-ul {
  display: flex;
  flex-wrap: wrap;
  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dotted #E4E7ED;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  border: 1px dotted #E4E7ED;
}
.table-pagination {
  margin-top: 30px;
}
.red {
  color: red;
}
.check-result {
  margin: 40px 0 20px;
  h1 {
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    i {
      font-size: 30px;
    }
  }
  p {
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
  }
  &.result-suc {
    color: #67C23A;
  }
  &.result-err {
    color: #F56C6C
  }
  .nopass-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 1;
    i {
      font-size: 20px;
      color: red;
    }
  }
}
.color-err {
  color: red;
}

.color-suc {
  color: #67C23A;
}

.color-default {
  color: #909399;
}
</style>
