<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li" 
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-img"></span>
            <span class="li-span">{{item.name}}</span>
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增推荐婚庆店</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>推荐婚庆店信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="form" :model="form" label-width="100px" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="门店类型" prop="typename" >
                <el-select v-model="form.typename"  placeholder="请选择">
                  <el-option label="加盟店" value="加盟店"></el-option>
                  <el-option label="直营店" value="直营店"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="门店ID" prop="merchantid">
                <el-input v-model="form.merchantid" placeholder="请输入" ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="是否显示" prop="isshow">
                <el-select v-model="form.isshow" placeholder="请选择">
                  <el-option label="不显示" :value="0"></el-option>
                  <el-option label="显示" :value="1"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="推荐标题" prop="title">
                <el-input
                  type="textarea"
                  :rows="2"
                  resize="none"
                  placeholder="请输入"
                  v-model="form.title"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="门店名称" prop="name">
                <el-input
                  type="textarea"
                  :rows="2"
                  resize="none"
                  placeholder="请输入"
                  v-model="form.name"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="门店地址" prop="address">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入"
                  v-model="form.address"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="门店交通" prop="traffic">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入"
                  v-model="form.traffic"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item label="门店图片" required>
                <UpImage :path="form.image" @upImage="pcpathImage"></UpImage>
                <div class="images-warn">
                  <p>图片建议尺寸：340px*190px</p>
                </div>       
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import UpImage from '@/components/common/Upload/upSingleImage.vue'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      form: {
        title: '',
        merchantid: '',
        name: '',
        address: '',
        traffic: '',
        typename: '',
        image: '',
        isshow: 0
      },
      rules: {
        title: [{ required: true, message: "不能为空", trigger: "blur" }],
        merchantid:[{ required: true, message: "不能为空", trigger: "blur" }],
        typename: [{ required: true, message: "不能为空", trigger: "change" }],
        name:[{ required: true, message: "不能为空", trigger: "blur" }],
        address:[{ required: true, message: "不能为空", trigger: "blur" }],
        traffic:[{ required: true, message: "不能为空", trigger: "blur" }],
        isshow: [{ required: true, message: "不能为空", trigger: "change" }]
      }
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'adminId',
      'uuadmin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  components: {
    UpImage
  },
  methods: {
    submitData() {
      http.post("/merchantrecommend/listmerchantrecommend.do", {
        cityid: this.uuadmin.cityid,
        areaid: this.uuadmin.areaid
      })
      .then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        title: '',
        merchantid: '',
        name: '',
        address: '',
        traffic: '',
        typename: '',
        image: '',
        isshow: 0
      }
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.image) {
            this.$message.warning('图片不能为空');
            return
          }
          let param = {
            title: this.form.title,
            merchantid: this.form.merchantid,
            name: this.form.name,
            address: this.form.address,
            traffic: this.form.traffic,
            typename: this.form.typename,
            image: this.form.image,
            isshow: this.form.isshow
          }  
         http.post("/merchantrecommend/addmerchantrecommend.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.$refs.form.resetFields();
      this.current = index;
      http.post("/merchantrecommend/infomerchantrecommend.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          this.form = result.data;
          this.rowData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.image) {
            this.$message.warning('图片不能为空');
            return
          }
          let param = {
            id: this.form.id,
            title: this.form.title,
            merchantid: this.form.merchantid,
            name: this.form.name,
            address: this.form.address,
            traffic: this.form.traffic,
            typename: this.form.typename,
            image: this.form.image,
            isshow: this.form.isshow
         }
         http.post("/merchantrecommend/updatemerchantrecommend.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/merchantrecommend/delmerchantrecommend.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    pcpathImage (value) {
      this.form.image = value;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/page.scss';
</style>
