<template>
  <div class="header">
    <!-- 折叠按钮 -->
    <div class="collapse-btn" @click="collapseChage">
      <i class="el-icon-menu"></i>
    </div>
    <div class="logo">管理系统</div>
    <div class="city-form">
      <el-select v-model="cityid" placeholder="请选择市" @change="gotareaListChange" style="width: 150px">
        <el-option
          v-for="item in cityList"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      <el-select v-model="areaid" placeholder="请选择区" @change="selectArea" style="width: 150px">
        <el-option
          v-for="item in areaList"
          :key="item.areaid"
          :label="item.areaname"
          :value="item.areaid">
        </el-option>
      </el-select>
    </div>
    <div class="header-right">
      <div class="header-user-con">
        <!-- 全屏显示 -->
        <div class="btn-fullscreen" @click="handleFullScreen" v-show="false">
          <el-tooltip effect="dark" :content="fullscreen?`取消全屏`:`全屏`" placement="bottom">
            <i class="el-icon-rank"></i>
          </el-tooltip>
        </div>
        <!-- 用户头像 -->
        <div class="user-avator">
          <img src="~@/assets/images/img.jpg">
        </div>
        <!-- 用户名下拉菜单 -->
        <el-dropdown class="user-name" trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{uuadmin.name}}
            <i class="el-icon-caret-bottom"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="editPassword">修改密码</el-dropdown-item>
            <el-dropdown-item divided command="loginout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="30%" @close="closeFormDialog('form')">
      <el-form :model="form" ref="form" label-width="100px" :rules="rules">
        <el-form-item label="原密码" prop="oldpassWord">
          <el-input v-model="form.oldpassWord" type="password" placeholder="请输入原密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newpassWord">
          <el-input v-model="form.newpassWord" type="password" placeholder="请输入新密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="renewpassWord">
          <el-input v-model="form.renewpassWord" type="password" placeholder="请输入确认密码" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import http from '@/axios/http'
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      collapse: false,
      fullscreen: false,
      dialogFormVisible: false,
      form: {
        oldpassWord: '',
        newpassWord: '',
        renewpassWord: ''
      },
      rules: {
        oldpassWord: [
          { required: true, message: "原密码不能为空", trigger: "blur" }
        ],
        newpassWord: [
          { required: true, message: "新密码不能为空", trigger: "blur" }
        ],
        renewpassWord: [
          { required: true, message: "确认密码不能为空", trigger: "blur" }
        ]
      },
      cityid: 0,
      cityList: [],
      areaid: 0,
      areaList: []
    };
  },
  computed: {
    ...mapState([
      'uuadmin'
    ])
  },
  created () {
    this.cityid = this.uuadmin.cityid;
    this.areaid = this.uuadmin.areaid
    this.gotcityList();
    this.gotareaList();
  },
  methods: {
    gotcityList () {
      http.post('/admin/regionnamelist.do')
        .then((response) => {
          this.cityList = response.data;
        })
    },
    gotareaList () {
      http.post("/areas/selectbyparentid.do", {
        parentid: this.cityid
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          data.unshift({
            areaname: '全城',
            areaid: 0
          })
          this.areaList = data;
          let value = {
            areaid: 0,
            cityid: this.cityid,
            adminid: this.uuadmin.adminid,
            name: this.uuadmin.name,
            loginname: this.uuadmin.loginname
          }
          this.$store.commit({
            type: 'gotAdminInfo',
            data: value
          })
          sessionStorage.setItem('xuuadmin', JSON.stringify(value));
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotareaListChange () {
      http.post("/areas/selectbyparentid.do", {
        parentid: this.cityid
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          data.unshift({
            areaname: '全城',
            areaid: 0
          })
          this.areaList = data;
          let value = {
            areaid: 0,
            cityid: this.cityid,
            adminid: this.uuadmin.adminid,
            name: this.uuadmin.name
          }
          this.$store.commit({
            type: 'gotAdminInfo',
            data: value
          })
          sessionStorage.setItem('xuuadmin', JSON.stringify(value));
          window.location.reload();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectArea () {
      let value = {
        areaid: this.areaid,
        cityid: this.cityid,
        adminid: this.uuadmin.adminid,
        name: this.uuadmin.name
      }
      this.$store.commit({
        type: 'gotAdminInfo',
        data: value
      })
      sessionStorage.setItem('xuuadmin', JSON.stringify(value));
      window.location.reload();
    },
    saveForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
          if (!reg.test(this.form.newpassWord)) {
            this.$message.error('密码为6-12位数字和字母组合');
            return
          }
          if (this.form.newpassWord !== this.form.renewpassWord) {
            this.$message.error('新密码和确认密码不一致');
            return
          }
          http.post('/admin/restpwd.do', {
            account: this.uuadmin.loginname,
            oldpwd: this.form.oldpassWord,
            newpwd: this.form.newpassWord
          })
            .then(result => {
              if (result.type) {
                this.$message.success(result.msg);
                this.dialogFormVisible = false;
                //退出
                this.logOut()
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    closeFormDialog (formName) {
      this.$refs[formName].resetFields();
    },
    // 用户名下拉菜单选择事件
    handleCommand(command) {
      if (command == "loginout") {
        //退出
        this.logOut()
      } else if (command == "editPassword") {
        this.dialogFormVisible = true;
      }
    },
    logOut () {
      let value = {
        areaid: 0,
        cityid: 793,
        adminid: 0,
        name: '',
        loginname: ''
      }
      this.$store.commit({
        type: 'gotAdminInfo',
        data: value
      })
      window.sessionStorage.removeItem('xuuadmin')
      this.$router.push("/login");
    },
    // 侧边栏折叠
    collapseChage() {
      this.$store.commit('iscollapse')
    },
    // 全屏事件
    handleFullScreen() {
      let element = document.documentElement;
      if (this.fullscreen) {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      } else {
        if (element.requestFullscreen) {
          element.requestFullscreen();
        } else if (element.webkitRequestFullScreen) {
          element.webkitRequestFullScreen();
        } else if (element.mozRequestFullScreen) {
          element.mozRequestFullScreen();
        } else if (element.msRequestFullscreen) {
          // IE11
          element.msRequestFullscreen();
        }
      }
      this.fullscreen = !this.fullscreen;
    }
  },
  mounted() {
    if (document.body.clientWidth < 1500) {
      this.collapseChage();
    }
  }
};
</script>
<style scoped>
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
  color: #fff;
}
.collapse-btn {
  float: left;
  padding: 0 21px;
  cursor: pointer;
  line-height: 70px;
}
.header .logo {
  float: left;
  width: 100px;
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}
.header .city-form {
  width: 420px;
  height: 32px;
  float: left;
  margin-top: 19px;
}
.header-right {
  float: right;
  padding-right: 50px;
}
.header-user-con {
  display: flex;
  height: 70px;
  align-items: center;
}
.btn-fullscreen {
  transform: rotate(45deg);
  margin-right: 5px;
  font-size: 24px;
}
.btn-bell,
.btn-fullscreen {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.btn-bell-badge {
  position: absolute;
  right: 0;
  top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #f56c6c;
  color: #fff;
}
.btn-bell .el-icon-bell {
  color: #fff;
}
.user-name {
  margin-left: 10px;
}
.user-avator {
  margin-left: 20px;
}
.user-avator img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.el-dropdown-link {
  color: #fff;
  cursor: pointer;
}
.el-dropdown-menu__item {
  text-align: center;
}


</style>
