<template>
   <div class="wrapper">
    <v-head></v-head>
    <v-sidebar></v-sidebar>
    <div class="content-box" :class="{'content-collapse':collapse}">
        <v-tags></v-tags>
      <div class="content">
        <transition name="move" mode="out-in">
          <!-- 只有在标签页列表里的页面才使用keep-alive，即关闭标签之后就不保存到内存中了 -->
          <keep-alive :include="tagsList">
            <router-view></router-view>
          </keep-alive>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import vHead from "./Header.vue";
import vSidebar from "./Sidebar.vue";
import vTags from './Tags.vue';
import { mapState } from "vuex";
export default {
  data() {
    return {
      hvalue: 1000
    };
  },
  components: {
    vHead,
    vSidebar,
    vTags
  },
  computed: {
    ...mapState([
      'adminId',
      'tagsList',
      'collapse'
    ])
  },
  created() {
    
  },
  mounted () {
    
  },
  methods: {
    computedHeight () {
       let value =  document.documentElement.clientHeight || document.body.clientHeight;
      this.hvalue = value - 80;
    }
  }
};
</script>
<style lang="scss" scoped>

.wrapper {
  width: 100%;
  height: 100%;
  .content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    .content {
      width: auto;
      height: 100%;
      padding: 10px;
      overflow-y: scroll;
      box-sizing: border-box;
    }
  }
  .content-collapse {
    left: 65px;
  }

}
</style>
