.page {
    width: 100%;
    box-sizing: border-box;

    .page-title {
        margin-bottom: 20px;
    }

    .title-tag {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        font-size: 18px;
        color: #409eff;
        letter-spacing: 2px;
        position: relative;
    }

    .crumbs {
        margin: 10px 0;

        .el-breadcrumb {
            font-size: 14px;
        }

        .crumbs-i-right {
            margin-right: 10px;
        }
    }

    .container-form {
        width: 100%;
        padding: 20px 0;
    }

    .container-table {
        width: 100%;

        .table-ul {
            width: 100%;

            &::after {
                content: '';
                clear: both;
                width: 0;
                height: 0;
                display: block;
            }

            .table-li {
                height: 56px;
                padding: 10px;
                width: 100px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #ebeef5;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #303133;
                transition: all 0.3s;

                &:hover {
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
                }

                &.table-li-active {
                    background: #409EFF;
                    border: 1px solid #409EFF;
                    color: #fff;

                    &:hover {
                        box-shadow: none;
                    }
                }

                .li-span {
                    line-height: 16px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    line-clamp: 2; //行数
                    box-orient: vertical;
                    text-align: center;
                    font-size: 13px;
                }

                &:last-child {
                    line-height: 44px;
                    text-align: center;

                    &:hover {
                        box-shadow: none;
                    }

                    .add-icon {
                        font-size: 20px;
                    }
                }

                &.table-li-last {
                    border-color: #409EFF;

                    .add-icon {
                        color: #409EFF;
                    }
                }
            }
        }
    }

    .input-width {
        width: 190px;
    }

    .ql-container {
        min-height: 300px;
    }

    .images-warn {
        display: flex;

        p {
            margin: 0 5px;
            color: #F56C6C;
            font-size: 12px;
        }
    }

    .preview-video {
        width: 720px;
        min-height: 400px;
        margin: 20px auto;
        overflow: hidden;
    }
    .table-pagination {
        margin-top: 30px;
    }
}
