<template>
  <div class="sidebar">
    <el-menu
      class="sidebar-el-menu"
      :default-active="$route.fullPath"
      background-color="#324157"
      text-color="#bfcbd9"
      :collapse="collapse"
      active-text-color="#20a0ff"
      router
      @select = "selectActive"
      :unique-opened = "true"
    >
      <template v-for="item in items">
        <template v-if="item.children.length">
          <el-submenu :index="item.id" :key="item.id">
            <template slot="title">
              <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
              <span slot="title">{{ item.name }}{{item.index}}</span>
            </template>
            <template v-for="subItem in item.children">
              <el-submenu v-if="subItem.children.length" :index="subItem.url" :key="subItem.index">
                <template slot="title">{{ subItem.name }}</template>
                <el-menu-item
                  v-for=" threeItem in subItem.children"
                  :index="threeItem.url"
                  :key="threeItem.index"
                >{{ threeItem.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="subItem.url" :key="subItem.url">
                <i class="iconfont" :class="subItem.icon" style="margin-right: 8px;"></i>
                <span slot="title">{{ subItem.name }}</span>
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.url" :key="item.url">
            <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
            <span slot="title">{{ item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          icon: "icon-caidan-2",
          url: "",
          name: "首页管理",
          id: "1",
          children: [{
            id: "2",
            icon: "",
            url: "/home",
            name: "网站SEO",
            children: []
          }, {
            id: "3",
            icon: "",
            url: "/banner",
            name: "轮播图管理",
            children: []
          }, {
            id: "4",
            icon: "",
            url: "/link",
            name: "友情链接",
            children: []
          }]
        },
        {
          icon: "icon-caidan-1",
          url: "",
          name: "预约管理",
          id: "20",
          children: [{
            id: "21",
            icon: "",
            url: "/orwedding",
            name: "婚庆预约",
            children: []
          },{
            id: "22",
            icon: "",
            url: "/orhotel",
            name: "酒店预约",
            children: []
          },{
            id: "23",
            icon: "",
            url: "/orcar",
            name: "婚车预约",
            children: []
          }]
        },
        {
          icon: "icon-baogaogongdan",
          url: "",
          name: "订单管理",
          id: "24",
          children: [{
            id: "25",
            icon: "",
            url: "/orindex",
            name: "订单列表",
            children: []
          }]
        },
        {
          icon: "icon-shenhe",
          url: "",
          name: "审核管理",
          id: "5",
          children: [{
            id: "6",
            icon: "",
            url: "/check",
            name: "审核列表",
            children: []
          }]
        },
        {
          icon: "icon-chanpin2",
          url: "",
          name: "推荐管理",
          id: "7",
          children: [{
            id: "9",
            icon: "",
            url: "/rehotel",
            name: "酒店推荐",
            children: []
          },{
            id: "10",
            icon: "",
            url: "/recar",
            name: "婚车推荐",
            children: []
          },{
            id: "20",
            icon: "",
            url: "/remerchant",
            name: "婚庆店推荐",
            children: []
          },{
            id: "21",
            icon: "",
            url: "/recase",
            name: "案例推荐",
            children: []
          },{
            id: "8",
            icon: "",
            url: "/reproduct",
            name: "产品推荐",
            children: []
          }]
        },
        {
          icon: "icon-dianpu",
          url: "",
          name: "商户管理",
          id: "11",
          children: [{
            id: "12",
            icon: "",
            url: "/mahotel",
            name: "酒店商户",
            children: []
          },{
            id: "13",
            icon: "",
            url: "/mawedding",
            name: "婚庆商户",
            children: []
          },{
            id: "14",
            icon: "",
            url: "/maproduct",
            name: "产品管理",
            children: []
          },
          {
            id: "19",
            icon: "",
            url: "/macase",
            name: "案例管理",
            children: []
          },{
            id: "15",
            icon: "",
            url: "/masheying",
            name: "摄影管理",
            children: []
          },{
            id: "16",
            icon: "",
            url: "/masiyi",
            name: "司仪管理",
            children: []
          },{
            id: "17",
            icon: "",
            url: "/magenzhuang",
            name: "跟妆管理",
            children: []
          },{
            id: "18",
            icon: "",
            url: "/macar",
            name: "婚车管理",
            children: []
          },]
        },
        {
          icon: "icon-chanpin4",
          url: "",
          name: "设计师管理",
          id: "21",
          children: [{
            id: "22",
            icon: "",
            url: "/desindex",
            name: "设计师列表",
            children: []
          },{
            id: "23",
            icon: "",
            url: "/desproduct",
            name: "设计作品",
            children: []
          }]
        }
      ]
    };
  },
  computed: {
     ...mapState([
      'sidebarMenus',
      'collapse'
    ])
  },
  created() {
    
  },
  methods: {
    selectActive (index, indexPath) {
      
    }
  }
};
</script>

<style scoped>
.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
  width: 250px;
}
.sidebar > ul {
  height: 100%;
}
</style>
