<template>
  <div class="image-lists-wapper">
    <div class="avatar" v-for="(path, index) in fileList" :key="index">
      <img :src="path">
      <span class="avatar-actions">
        <span class="actions-icon" @click="handlePreview(path, index)">
          <i class="el-icon-zoom-in"></i>
        </span>
        <span class="actions-icon" @click="handleDelete(path, index)">
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
    <el-upload
      class="avatar-uploader"
      action="/conmon/upload.do"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
    >
      <div class="avatar" 
        v-loading="loading"
        v-show= "loading"
        element-loading-text="上传中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
      >
      </div>
      <i v-show="!loading" class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible" :append-to-body="true">
      <img width="100%" :src="current" alt="">
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    fileList: {
      type: Array,
      default: []
    }
  },
  data () {
    return {
      dialogVisible: false,
      loading: false,
      current: ''
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isPNG && !isJPG) {
        this.$message.error("上传图片只能是 JPG 或者PNG格式!");
      }
      if (!isLt2M) {
        this.$message.error('上传图片大小不能超过 2MB!');
      }
      if ((isJPG || isPNG) && isLt2M) {
        this.loading = true;
      }
      return (isJPG || isPNG) && isLt2M;
    },
    handleAvatarSuccess(response, file, fileList) {
      if (parseInt(response.status) === 1) {
        this.loading = false;
        let pathList = this.fileList;
        pathList.push(response.path);
        this.$emit('upImages', pathList);
      }
    },
    handlePreview (path, index) {
      this.current = path;
      this.$nextTick(() => {
        this.dialogVisible = true;
      })
    },
    handleDelete (path, index) {
      const pathList = this.fileList;
      pathList.splice(index, 1);
      this.$emit('upImages', pathList);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.image-lists-wapper {
  display: flex;
  flex-wrap: wrap;
  .avatar {
    border: 1px dashed #d9d9d9;
    width: 94px!important;
    height: 94px!important;
    display: block;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .avatar-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0,0,0,.5);
      transition: opacity .3s;
      &::after {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
      }
      .actions-icon {
        display: inline-block;
        cursor: pointer;
        margin: 0 4px;
      }
    }
    &:hover {
      .avatar-actions {
        opacity: 1;
      }
    }
  }
}
.avatar-uploader {
  position: relative;
  .el-upload {
    width: 94px!important;
    height: 94px!important;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
    .el-loading-spinner {
      margin-top: -28px;
    }
  }
  .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 94px!important;
    height: 94px!important;
    line-height: 94px!important;
    text-align: center;
  }
}

</style>
