<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="id" label="编号" width="100"></el-table-column>
          <el-table-column prop="createtime" label="预约时间" width="150"></el-table-column>
          <el-table-column prop="phone" label="客户手机" width="100"></el-table-column>
          <el-table-column prop="backupstatusname" label="内容" width="200">
            <template slot-scope="scope">
              <div v-show="scope.row.hangbrand">
                <p>头车品牌：{{scope.row.hangbrand}}</p>
                <p>跟车品牌：{{scope.row.tailbrand}}</p>
                <p>用车日期：{{scope.row.usedtime}}</p>
                <p>配备司机：{{scope.row.driver}}</p>
              </div>
              <div v-show="!scope.row.hangbrand">
                <p>车身颜色{{scope.row.color}}</p>
                <p>婚车用途：{{scope.row.purpose}}</p>
                <p>用车日期：{{scope.row.usedtime}}</p>
                <p>租赁时间：{{scope.row.cartime}}</p>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="status" label="状态" width="80">
            <template slot-scope="scope">
              <span class="color-suc"  v-show="scope.row.status === 0">未接单</span>
              <span class="color-default"  v-show="scope.row.status === 1">已接单</span>
              <span class="color-default"  v-show="scope.row.status === 2">已完成</span>
            </template>
          </el-table-column>
          <el-table-column prop="vehiclename" label="接单商户">
            <template slot-scope="scope">
              <span class="color-suc"  v-show="scope.row.vehiclename">{{scope.row.vehiclename}}</span>
              <span class="color-default"  v-show="!scope.row.vehiclename">暂无</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="80" align="center">
            <template slot-scope="scope">
              <span v-show="scope.row.status === 1">无</span>
              <el-button
                type="text"
                icon="el-icon-check"
                slot="reference"
                v-show="scope.row.status === 0"
                @click="askOrder(scope.$index, scope.row)"
              >分配</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!-- 提示框 -->
    <el-dialog title="提示" :visible.sync="visible" width="30%" center>
      <div style="text-align:center">确定接此订单？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false">取 消</el-button>
        <el-button type="primary" @click="handleOrder">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      visible: false,
      rowData: {}
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("vehiclesubscribe/vehiclesubscribelist.do", {
        page: this.page,
        limit: this.limit
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    askOrder (index, row) {
      return
      this.rowData = row;
      this.visible = true;
    },
    handleOrder() {
      http.post("/vehiclesubscribe/grabsheet.do", {
        id: this.rowData.id,
        vehicleid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.visible = false;
          this.$message.success(result.msg);
          this.submitData();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
</style>
