<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-30 13:46:19
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <div class="tag-span">
          订单详情
        </div>
        <div class="back-btn-box">
          <el-button icon="el-icon-arrow-left" @click="handleBack">返回订单页</el-button>
        </div>
      </div>
    </el-card>
    <el-form ref="form" :model="form" label-width="120px">
      <!-- 客户信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          客户信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="新郎姓名" prop="groomname">
                <el-input v-model="form.groomname"  :disabled="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新郎电话" prop="groomaccout">
                <el-input v-model="form.groomaccout"  :disabled="true" ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新郎地址" prop="groomaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.groomaddress"
                  :disabled="true"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="新娘姓名" prop="bridename">
                <el-input v-model="form.bridename" :disabled="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新娘电话" prop="brideaccount">
                <el-input v-model="form.brideaccount" :disabled="true"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新娘地址" prop="brideaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.brideaddress"
                  :disabled="true"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户婚期" prop="orderweddingdate">
                <el-date-picker
                  v-model="form.orderweddingdate"
                  type="date"
                  :disabled="true"
                  value-format="yyyy-MM-dd"
                  style="width: 100%"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email" :disabled="true"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚庆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚庆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚庆方案" prop="merchantdemoid">
                <el-select v-model="form.merchantdemoid" :disabled="true" style="width: 100%">
                  <el-option
                    v-for="(item, index) in productList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="demoremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.demoremark"
                  :disabled="true"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.demomoney">
                <span class="price-discount"><strong>现价：</strong>{{form.demodiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.demomoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 酒店信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          酒店信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店商户" prop="hotelid">
                <el-select v-model="form.hotelid" :disabled="true" style="width: 100%">
                  <el-option
                    v-for="(item, index) in hotelsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <el-row>
            <el-col :span="11">
              <el-form-item label="宴会厅" prop="banquethallid">
                <el-select v-model="form.banquethallid" :disabled="true" class="input-order">
                  <el-option
                    v-for="(item, index) in banquethallList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="菜单" prop="menuid">
                <el-select v-model="form.menuid" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in menuList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="1">
              <el-button type="primary" @click="catMenu" :disabled="!form.menuid">查 看</el-button>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="菜单现价" prop="menudiscountmoney">
                <el-input v-model="form.menudiscountmoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="菜单原价" prop="menumoney">
                <el-input v-model="form.menumoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="实用桌数" prop="actuatablesl">
                <el-input v-model="form.actuatablesl" class="input-order" :disabled="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="备用桌数" prop="sparetables">
                <el-input v-model="form.sparetables" class="input-order"  :disabled="true"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="hotelremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.hotelremark"
                  :disabled="true"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.hoteldiscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.hoteldiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.hotelmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚车信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚车信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚车商户" prop="vehicleid">
                <el-select v-model="form.vehicleid" :disabled="true" style="width: 100%">
                  <el-option
                    v-for="(item, index) in vehicleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车" prop="headmerchantvehicleid">
                <el-select v-model="form.headmerchantvehicleid" :disabled="true" class="input-order">
                  <el-option
                    v-for="(item, index) in carnameList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="头车颜色" prop="headcolor">
                <el-select v-model="form.headcolor" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in form.headcolorjson" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车现价" prop="headmerchantvehiclediscountmoney">
                <el-input v-model="form.headmerchantvehiclediscountmoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="头车原价" prop="headmerchantvehiclemoney">
                <el-input v-model="form.headmerchantvehiclemoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="花环单价" prop="wreathprice">
                <el-input v-model="form.wreathprice" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车数量" prop="headmerchantvehiclenum">
                <el-input v-model="form.headmerchantvehiclenum" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="headtimeinterval">
                <el-select v-model="form.headtimeinterval"  class="input-order" disabled>
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <!-- 礼车 -->
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车" prop="tailmerchantvehicleid">
                <el-select v-model="form.tailmerchantvehicleid" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in carnameList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车颜色" prop="tailcolor">
                <el-select v-model="form.tailcolor" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in form.tailcolorjson" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车现价" prop="tailmerchantvehiclediscountmoney">
                <el-input v-model="form.tailmerchantvehiclediscountmoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车原价" prop="tailmerchantvehiclemoney">
                <el-input v-model="form.tailmerchantvehiclemoney" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车数量" prop="tailmerchantvehiclenum">
                <el-input v-model="form.tailmerchantvehiclenum" class="input-order" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="tailtimeinterval" >
                <el-select v-model="form.tailtimeinterval" disabled class="input-order">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="vehicleremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.vehicleremark"
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.vehiclediscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.vehiclediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.vehiclemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 司仪信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          司仪信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="司仪" prop="emceeid">
                <el-select v-model="form.emceeid" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in siyiList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 150px;text-align:center">
                <img :src="form.emceeimage" alt=""  v-show="form.emceeimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="emceeremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.emceeremark"
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.emceemoney">
                <span class="price-discount"><strong>现价：</strong>{{form.emceediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.emceemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 跟妆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          跟妆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="跟妆" prop="makeupid">
                <el-select v-model="form.makeupid" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in genzhuangList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 150px;text-align:center;">
                <img :src="form.makeupimage" alt=""   v-show="form.makeupimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="makeupremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.makeupremark"
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.makeupmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.makeupdiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.makeupmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
       <!-- 摄影信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          摄影信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="摄影" prop="photographyid">
                <el-select v-model="form.photographyid" disabled class="input-order">
                  <el-option
                    v-for="(item, index) in sheyingList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 100px;text-align:center;margin-top: -10px">
                <img :src="form.photographyimage" alt="" v-show="form.photographyimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="单机位现价" prop="photographydiscountmoney">
                <el-input v-model="form.photographydiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="单机位原价" prop="photographymoney">
                <el-input v-model="form.photographymoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="机位数量" prop="photographynum">
                <el-input v-model="form.photographynum" clearable disabled placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="photographyremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  v-model="form.photographyremark"
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.photographydiscountmoneytotal">
                <span class="price-discount"><strong>现价：</strong>{{form.photographydiscountmoneytotal}} 元</span>
                <span class="price-money"><span>原价：{{form.photographymoneytotal}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 活动信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          活动信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="现价" prop="alltotaldiscountmoney">
                <el-input v-model="form.alltotaldiscountmoney" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="原价" prop="alltotalmoney">
                <el-input v-model="form.alltotalmoney" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="满减优惠" prop="manjianid">
                <el-select v-model="form.manjianid" disabled style="width: 100%">
                  <el-option
                    v-for="(item, index) in manjianData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="折扣优惠" prop="discountid" >
                <el-select v-model="form.discountid" disabled style="width: 100%">
                  <el-option
                    v-for="(item, index) in discountData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="支付价格" prop="computedtotal">
                <el-input v-model="form.computedtotal"  disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </el-form>


    <!-- 菜单信息 -->
    <el-dialog :title="menuDetail.name" :visible.sync="catmenuVisible" width="800px" center>
      <ul class="menu-box">
        <li v-for="(item, index) in menuDetail.caipinList" :key="index">
          <el-tag type="warning">{{item.name}}</el-tag>
        </li>
      </ul>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import http from '@/axios/http';
export default {
  data () {
    return {
      form: {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        hotelareaid: '',
        hotelid: '',
        banquethallid: '',
        menuid: '',
        menumoney: '',
        menudiscountmoney: '',
        actuatablesl: '',
        sparetables: '',
        hotelmoney: 0,
        hoteldiscountmoney: 0,
        hotelremark: '',

        vehicleareaid: '',
        vehicleid: '',

        headcolor: '',
        headcolorjson: [],
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      },
      productList: [],
      hotelsList: [],
      banquethallList: [],
      menuList: [],
      catmenuVisible: false,
      menuDetail: {
        caipinList: []
      },
      vehicleList: [],
      colorList: [],
      carnameList: [],

      siyiList: [],
      genzhuangList: [],
      sheyingList: [],
      manjianData: [],
      discountData: [],
      payvisible: false,
      completevisible: false,
      orderstatus: 0,
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {

  },
  created () {
    if (this.$route.query.id) {
      this.orderid = this.$route.query.id;
      this.submitData()
      this.productData();
      this.colorData();
      this.siyiData();
      this.genzhuangData();
      this.sheyingData();
      this.discountCoupon();
      this.manjianCoupon();
    }
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    gotPrint () {
      let printUrl = 'https://platform.uuwed.com/print/index.html?id='+ this.orderid
      window.open(printUrl, '_blank')
    },
    handlePayOrder () {
       http.post("/order/updateorderstatus.do", {
        id: this.orderid
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.payvisible = false;
          this.$router.push('/merchant/order');
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    handleCompleteOrder () {
      http.post("/order/updateordercomplete.do", {
        id: this.orderid
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.completevisible = false;
          this.$router.push('/merchant/order');
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    submitData() {
      http.post("/order/orderinfo.do", {
        id: this.orderid
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          //产品
          let merchantdemoid = data.merchantdemoid ? data.merchantdemoid : ''
          let demomoney = data.demomoney ? data.demomoney : ''
          let demodiscountmoney = data.demodiscountmoney ? data.demodiscountmoney : ''
          //酒店
          let hotelid = data.hotelid ? data.hotelid : ''
          let banquethallid = data.banquethallid ? data.banquethallid : ''
          let menuid = data.menuid ? data.menuid : ''
          let menumoney = data.menumoney ? data.menumoney : ''
          let menudiscountmoney = data.menudiscountmoney ? data.menudiscountmoney : ''
          let actuatablesl = data.actuatablesl ? data.actuatablesl : ''
          let sparetables = data.sparetables ? data.sparetables : ''

          //婚车
          let vehicleid = data.vehicleid ? data.vehicleid : ''
          let headmerchantvehicleid = data.headmerchantvehicleid ? data.headmerchantvehicleid : ''
          let headmerchantvehiclemoney = data.headmerchantvehiclemoney ? data.headmerchantvehiclemoney : ''
          let headmerchantvehiclediscountmoney = data.headmerchantvehiclediscountmoney ? data.headmerchantvehiclediscountmoney : ''
          let headmerchantvehiclenum = data.headmerchantvehiclenum ? data.headmerchantvehiclenum : ''
          let headtimeinterval = data.headtimeinterval === 1 ? 1 : 2
          let headcolor = data.headcolor ? data.headcolor : ''
          let wreathprice = data.wreathprice ? data.wreathprice : ''

          let tailmerchantvehicleid = data.tailmerchantvehicleid ? data.tailmerchantvehicleid : ''
          let tailmerchantvehiclemoney = data.tailmerchantvehiclemoney ? data.tailmerchantvehiclemoney : ''
          let tailmerchantvehiclediscountmoney = data.tailmerchantvehiclediscountmoney ? data.tailmerchantvehiclediscountmoney : ''
          let tailmerchantvehiclenum = data.tailmerchantvehiclenum ? data.tailmerchantvehiclenum : ''
          let tailtimeinterval = data.tailmerchantvehiclenum === 1 ? 1 : 2
          let tailcolor = data.tailcolor ? data.tailcolor : ''
          //司仪
          let emceeid = data.emceeid ? data.emceeid : ''
          let emceemoney = data.emceemoney ? data.emceemoney : ''
          let emceediscountmoney = data.emceediscountmoney ? data.emceediscountmoney : ''
           //司仪
          let makeupid = data.makeupid ? data.makeupid : ''
          let makeupmoney = data.makeupmoney ? data.makeupmoney : ''
          let makeupdiscountmoney = data.makeupdiscountmoney ? data.makeupdiscountmoney : ''
          //摄影
          let photographyid = data.photographyid ? data.photographyid : ''
          let photographymoney = data.photographymoney ? data.photographymoney : ''
          let photographydiscountmoney = data.photographydiscountmoney ? data.photographydiscountmoney : ''
          let photographynum = data.photographynum ? data.photographynum : ''

          this.form = {
            groomname: data.groomname,
            groomaccout: data.groomaccout,
            bridename: data.bridename,
            brideaccount: data.brideaccount,
            groomaddress: data.groomaddress,
            brideaddress: data.brideaddress,
            orderweddingdate: data.orderweddingdate,
            email: data.email,
            alltotaldiscountmoney: data.alltotaldiscountmoney,
            alltotalmoney: data.alltotalmoney,
            manjianid: data.manjianid,
            discountid: data.discountid,
            computedtotal: data.computedtotal,

            merchantdemoid: merchantdemoid,
            demomoney: demomoney,
            demodiscountmoney: demodiscountmoney,
            demoremark: data.demoremark,

            hotelid: hotelid,
            menuid: menuid,
            banquethallid: banquethallid,
            menumoney: menumoney,
            menudiscountmoney: menudiscountmoney,
            actuatablesl: actuatablesl,
            sparetables: sparetables,
            hotelmoney: data.hotelmoney,
            hoteldiscountmoney: data.hoteldiscountmoney,
            hotelremark: data.hotelremark,

            vehicleid: vehicleid,
            headcolor: headcolor,
            headcolorjson: data.headcolorjson,
            headmerchantvehicleid: headmerchantvehicleid,
            headmerchantvehiclemoney: headmerchantvehiclemoney,
            headmerchantvehiclediscountmoney: headmerchantvehiclediscountmoney,
            headmerchantvehiclenum: headmerchantvehiclenum,
            headtimeinterval: headtimeinterval,
            wreathprice: wreathprice,
            tailcolor: tailcolor,
            tailcolorjson: data.tailcolorjson,
            tailmerchantvehicleid: tailmerchantvehicleid,
            tailmerchantvehiclemoney: tailmerchantvehiclemoney,
            tailmerchantvehiclediscountmoney: tailmerchantvehiclediscountmoney,
            tailmerchantvehiclenum: tailmerchantvehiclenum,
            tailtimeinterval: tailtimeinterval,
            vehiclediscountmoney: data.vehiclediscountmoney,
            vehiclemoney: data.vehiclemoney,
            vehicleremark: data.vehicleremark,

            emceeid: emceeid,
            emceemoney:emceemoney,
            emceediscountmoney: emceediscountmoney,
            emceeremark: data.emceeremark,
            emceeimage:  data.emceeimage,
            makeupid: makeupid,
            makeupmoney: makeupmoney,
            makeupdiscountmoney: makeupdiscountmoney,
            makeupremark: data.makeupremark,
            makeupimage: data.makeupimage,

            photographyid: photographyid,
            photographynum: photographynum,
            photographymoney: photographymoney,
            photographydiscountmoney: photographydiscountmoney,
            photographydiscountmoneytotal: data.photographymoneytotal,
            photographymoneytotal: data.photographymoneytotal,
            photographyremark: data.photographyremark,
            photographyimage: data.photographyimage
          };
          if (this.form.hotelid) {
            this.banquethallListData();
            this.menuListData();
            this.menuDetailData();
          }

          if (this.form.vehicleid) {
            this.gotVehicleData();
          }
          this.orderstatus = data.orderstatus
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleBack () {
      this.$router.push('/orindex')
    },
    productData () {
      //产品接口
      http.post("/merchant/backuppassproductitem.do", {
        merchantid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.productList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    gotHotelList (area) {
      http.post("/hotel/gethotelbyareas.do", {
        province: this.uulogin.province,
        city: this.uulogin.city,
        area: area
      }).then((result) => {
        if (result.status === 1) {
          this.hotelsList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    banquethallListData (hotelid) {
      //宴会厅接口
      http.post("/hotel/backuppassbanquethall.do", {
        hotelid: hotelid
      }).then((result) => {
        if (result.status === 1) {
          this.banquethallList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    menuListData (hotelid) {
      //菜单接口
      http.post("/hotel/backuppasslistmenu.do", {
        hotelid: hotelid
      }).then((result) => {
        if (result.status === 1) {
          this.menuList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    menuDetailData (menuid) {
      //菜单详情
      http.post("/hotel/menuinfo.do", {
        id: menuid
      }).then((result) => {
        if (result.status === 1) {
          this.menuDetail.caipinList = result.data.itemlist;
          this.menuDetail.name = result.data.name;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    catMenu () {
      this.catmenuVisible = true;
    },
    gotVehicleList (area) {
      http.post("/vehicle/getvehiclebyareas.do", {
        province: this.uulogin.province,
        city: this.uulogin.city,
        area: area
      }).then((result) => {
        if (result.status === 1) {
          this.vehicleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    carnameListData (vehicleid) {
      http.post("/vehicle/getvehiclebyparam.do", {
        vehicleid: vehicleid,
        vehicletype: 0,
        colortype: 0
      })
      .then((result) => {
        if (result.status === 1) {
          this.carnameList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    colorData () {
      //车颜色
      http.post("/vehicle/colordrop.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.colorList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },



    siyiData () {
      //筛选司仪
      http.post("/emcee/getemceebyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: 0,
        agetype: 0,
        charactertype: 0,
        styletype: 0
      })
      .then((result) => {
        if (result.status === 1) {
          this.siyiList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    genzhuangData () {
      //筛选跟妆
      http.post("/makeup/getmakeupbyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: 0,
        agetype: 0,
        charactertype: 0,
        styletype: 0
      })
      .then((result) => {
        if (result.status === 1) {
          this.genzhuangList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    sheyingData () {
      http.post("/photography/getphotographybyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: 0,
        agetype: 0,
        styletype: 0
      })
      .then((result) => {
        if (result.status === 1) {
          this.sheyingList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    discountCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        merchantid: this.uulogin.id,
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.discountData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    manjianCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        merchantid: this.uulogin.id,
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.manjianData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/page.scss';
.container-header {
  font-size: 16px;
}
.input-order {
  width: 300px;
}
.price-total {
  text-align: right;
  font-size: 14px;
  .price-discount {
    margin-right: 15px;
    color: #333;
  }
  .price-money {
    text-decoration: line-through;
    color: red;
    span {
      color: #333;
    }
  }
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.menu-box {
  height: 300px;
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
  li {
    height: 25px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.back-btn-box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: -5px;
  top: 0;
}
</style>
