<template>
  <div class="error-page">
    <div class="error-code">4
      <span>0</span>4
    </div>
    <div class="error-desc">啊哦~ 你所访问的页面不存在</div>
    <div class="error-handle">
      <el-button type="primary" size="large" @click="goBack">返 回</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from '@/axios/http'
export default {
  data() {
    return {
      data: ""
    };
  },
  computed: {
    ...mapState([
      'uuadmin'
    ])
  },
  created() {},
  methods: {
    goBack() {
      let value = {
        areaid: 0,
        cityid: 793,
        adminid: 0,
        name: '',
        loginname: ''
      }
      this.$store.commit({
        type: 'gotAdminInfo',
        data: value
      })
      window.sessionStorage.removeItem('xuuadmin')
      this.$router.push("/login");
    }
  }
};
</script>


<style scoped>
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  box-sizing: border-box;
}
.error-code {
  line-height: 1;
  font-size: 250px;
  font-weight: bolder;
  color: #2d8cf0;
}
.error-code span {
  color: #00a854;
}
.error-desc {
  font-size: 30px;
  color: #777;
}
.error-handle {
  margin-top: 30px;
  padding-bottom: 200px;
}
.error-btn {
  margin-left: 100px;
}
</style>
