<template>
  <div class="login-wrap">
    <div class="ms-login">
      <div class="ms-title">平台端管理后台</div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="ms-content">
        <el-form-item prop="name">
          <el-input v-model="ruleForm.name" placeholder="请输入登录名">
            <el-button slot="prepend" icon="el-icon-lx-people"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="pwd">
          <el-input
            type="password"
            placeholder="请输入密码"
            v-model="ruleForm.pwd"
            @keyup.enter.native="submitForm('ruleForm')"
          >
            <el-button slot="prepend" icon="el-icon-lx-lock"></el-button>
          </el-input>
        </el-form-item>
        <div class="login-btn">
          <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import http from '@/axios/http'
export default {
  data: function() {
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          { required: true, message: "请输入登录名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  created () {
    
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submitData();
        }
      });
    },
    submitData() {
      http.post("/admin/login.do", {
          account: this.ruleForm.name,
          pwd: this.ruleForm.pwd
      }).then(result => {
          if (result.status === 1) {
            let value = {
              areaid: 0,
              cityid: 793,
              adminid: result.data.id,
              name: result.data.name,
              loginname: result.data.loginname,
            }
          sessionStorage.setItem('xuuadmin', JSON.stringify(value));
          this.$router.push("/");
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
};
</script>

<style scoped>
.login-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url('~@/assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ms-title {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  margin: -190px 0 0 -175px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.ms-content {
  padding: 30px 30px;
}
.login-btn {
  text-align: center;
}
.login-btn button {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}
.login-tips {
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.login-tips span.login-tips-span {
  display: block;
  width: 30%;
  height: 30px;
  cursor: pointer;
}
.login-tips span.login-tips-span:nth-child(1) {
  float: left;
  color: #409eff;
}
.login-tips span.login-tips-span:nth-child(2) {
  float: right;
  text-align: right;
  color: #f56c6c;
}
</style>