<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 15:54:19
 * @LastEditTime: 2019-08-30 13:44:49
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs" v-show="false">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title" v-show="false">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="功能模块" prop="backupname">

              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="text-align:right">
         <!-- <el-button type="primary" @click="handleAdd">新增</el-button> -->
      </div>
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="regionname" label="所属区域"></el-table-column>
          <el-table-column prop="designname" label="设计师姓名"></el-table-column>
          <el-table-column prop="productnum" label="作品数量"></el-table-column>
          <el-table-column prop="completenum" label="成交次数"></el-table-column>
          <el-table-column prop="profitsum" label="总收益"></el-table-column>
          <el-table-column label="操作" width="150" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
    <el-dialog title="设计师信息" :visible.sync="catVisible" width="967px" center>
       <el-form ref="form" :model="form" label-width="120px">
          <el-row>
            <el-col :span="8">
              <el-form-item label="设计师姓名" prop="designname">
                <el-input v-model="form.designname" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="手机号码" prop="account">
                <el-input v-model="form.account" disabled></el-input>
              </el-form-item>
            </el-col>
             <el-col :span="8">
              <el-form-item label="固定电话" prop="landline">
                <el-input v-model="form.landline" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="联系QQ" prop="qq">
                <el-input v-model="form.qq" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系微信" prop="wx">
                <el-input v-model="form.wx" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="所属省份" required>
                <el-select v-model="form.province" disabled style="width: 100%">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属城市" required>
                <el-select v-model="form.city" disabled style="width: 100%">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属区域" required>
                <el-select v-model="form.area" disabled style="width: 100%">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="设计师简述" prop="introduction">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..."
                  v-model="form.introduction"
                  maxlength="200"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="设计师logo" required>
                <ul class="image-ul designimage" v-viewer="{movable: false}">
                  <li class="image-li"
                    @click="handleImage('.designimage')"
                  >
                    <img :src="form.image" alt="">
                  </li>
                </ul>
                <div class="images-warn">
                  <p>图片建议尺寸比例：2：1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
export default {
  data () {
    return {
      searchform: {},
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      form: {},
      catVisible: false,
      provinces: [],
      citys: [],
      areas: []
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uuadmin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/admin/designplatformlist.do", {
        page: this.page,
        limit: this.limit,
        cityid: this.uuadmin.cityid,
        areaid: this.uuadmin.areaid
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat (index, row) {
      http.post("/designplatform/info.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.provinceList();
          this.cityList(data.province, data.city);
          this.form = data;
          this.catVisible = true
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
     
    },
    handleImage (value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer
        viewer.show();
      })
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList(province, city) {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
          if (this.citys.length > 0) {
            if (this.citys[0].level === 2) {
              this.areasList(city)
            } else {
              this.areas = [];
            }
          } else {
            this.areas = [];
          }
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList(city) {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
.image-ul {
  display: flex;
  flex-wrap: wrap;
  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dotted #E4E7ED;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px dotted #E4E7ED;
}
</style>
