<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 15:54:19
 * @LastEditTime: 2019-08-30 13:44:49
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs" v-show="false">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title" v-show="false">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="功能模块" prop="backupname"></el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span>
            <i class="el-icon-s-data crumbs-i-right"></i>数据列表
          </span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="text-align:right">
        <!-- <el-button type="primary" @click="handleAdd">新增</el-button> -->
      </div>
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="regionname" label="所属区域"></el-table-column>
          <el-table-column prop="designname" label="设计师姓名"></el-table-column>
          <el-table-column prop="id" label="作品编号"></el-table-column>
          <el-table-column prop="name" label="作品名称"></el-table-column>
          <el-table-column prop="typename" label="作品权限"></el-table-column>
          <el-table-column prop="completenum" label="成交量"></el-table-column>
          <el-table-column label="操作" width="150" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          ></el-pagination>
        </div>
      </div>
    </el-card>
    <el-dialog title="设计师信息" :visible.sync="catVisible" width="967px" center>
      <el-form ref="form" :model="form" label-width="120px">
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品基本信息
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="作品名称" prop="name">
                  <el-input
                    type="textarea"
                    :rows="2"
                    resize="none"
                    disabled
                    v-model="form.name"
                    maxlength="10"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" v-show="form.id">
                <el-form-item label="作品编号" prop="id">
                  <el-input v-model="form.id" disabled></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="作品特色" prop="characteristic">
                  <el-input v-model="form.characteristic" disabled></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="作品权限" prop="type">
                  <el-select
                    v-model="form.type"
                    disabled
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in labelList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="概述图片" required>
                  <ul class="image-ul summarypc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.summarypc" :key="index"
                      @click="handleImage('.summarypc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2：1</p>
                  </div>               
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <el-form-item label="搭建视频" required>
                  <div class="videos-box" @click="handVideo(form.modelmv)">预览</div>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="作品视频" required>
                  <div class="videos-box" @click="handVideo(form.productmv)">预览</div>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="设计师说" required>
                  <div class="videos-box" @click="handVideo(form.designmv)">预览</div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="作品描述" prop="describe">
                  <el-input
                    type="textarea"
                    :rows="4"
                    disabled
                    v-model="form.describe"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品主舞台信息
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="主舞台图片" required>
                  <ul class="image-ul stagepc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.stagepc" :key="index"
                    >
                      <img :src="item" alt="" @click="handleImage('.stagepc')">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="主舞台参数" prop="stage">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.stage"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品仪式通道
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="仪式通道图片" required>
                  <ul class="image-ul ceremonypc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.ceremonypc" :key="index"
                      @click="handleImage('.ceremonypc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="仪式通道参数" prop="ceremony">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.ceremony"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品签到台
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="签到台图片" required>
                  <ul class="image-ul signpc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.signpc" :key="index"
                      @click="handleImage('.signpc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="签到台参数" prop="sign">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.sign"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品迎宾台信息
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="迎宾台图片" required>
                  <ul class="image-ul guestspc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.guestspc" :key="index"
                      @click="handleImage('.guestspc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="迎宾台参数" prop="guests">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.guests"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品舞台灯信息
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="舞台灯图片" required>
                  <ul class="image-ul lamppc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.lamppc" :key="index"
                      @click="handleImage('.lamppc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="舞台灯参数" prop="lamp">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.lamp"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <span>
                <i class="el-icon-s-unfold crumbs-i-right"></i>作品其他特色信息
              </span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <el-card shadow="always" class="page-title">
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="其他特色图片">
                  <ul class="image-ul brightspotpc" v-viewer="{movable: false}">
                    <li class="image-li"
                      v-for="(item, index) in form.brightspotpc" :key="index"
                      @click="handleImage('.brightspotpc')"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                  <div class="images-warn">
                    <p>图片建议比例：2:1</p>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="其他特色参数" prop="brightspot">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    disabled
                    v-model="form.brightspot"
                    maxlength="200"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-form>
      <div style="text-align:center">
        <el-button type="primary" size="mini" @click="handleDown">下载资源<i class="el-icon-bottom el-icon--right"></i></el-button>
      </div>
      
    </el-dialog>
    <el-dialog :visible.sync="videoVisible" style="overflow:hidden" width="660px">
      <div v-show="!checkvideo">您的浏览器不支持video播放</div>
      <video :src="mvpath" class="preview-video" controls style="width: 600px" controlslist="nodownload" loop id="myvideo"></video>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
export default {
  data() {
    return {
      searchform: {},
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      form: {
        summarypc: [],
        stagepc: [],
        ceremonypc: [],
        signpc: [],
        guestspc: [],
        lamppc: [],
        brightspotpc: []
      },
      catVisible: false,
      provinces: [],
      citys: [],
      areas: [],
      labelList: [
        {
          id: 1,
          name: "分销授权"
        },
        {
          id: 2,
          name: "独家授权"
        }
      ],
      videoVisible: false,
      mvpath: '',
      checkvideo: true,
    };
  },
  watch: {},
  computed: {
    ...mapState(["uuadmin"])
  },
  created() {
    this.submitData();
  },
  mounted() {
    this.$nextTick(() => {
      //判断是否支持video
      if (!!document.createElement('video').canPlayType) {
        this.checkvideo = true;
      } else {
        this.checkvideo = false;
      }
    })
  },
  beforeDestroy() {},
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch(formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http
        .post("/admin/designproductlist.do", {
          page: this.page,
          limit: this.limit,
          cityid: this.uuadmin.cityid,
          areaid: this.uuadmin.areaid
        })
        .then(result => {
          if (result.status === 1) {
            this.tableData = result.data.result;
            this.total = result.data.total;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    handleCat(index, row) {
      http
        .post("/designplatform/productiteminfo.do", {
          id: row.id
        })
        .then(result => {
          if (result.status === 1) {
            const data = result.data;
            this.form = data;
            this.catVisible = true;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    handleDown () {
      http
        .post("/designplatform/download.do", {
          productid: this.form.id
        })
        .then(result => {
          if (result.status === 1) {
            const data = result;
            window.location.href = data.path;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    downFile (value) {
      const downloadElement = document.createElement('a')  // 创建下载的链接
      downloadElement.href = value
      downloadElement.download =  'img.png' // 下载后的文件名
      document.body.appendChild(downloadElement)
      // downloadElement.click() // 下载
      const event = document.createEvent('MouseEvents');
      event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      downloadElement.dispatchEvent(event);
      document.body.removeChild(downloadElement) // 下载完成 移除 a
    },
    handVideo (value) {
      this.videoVisible = true;
      this.mvpath = value;
      this.$nextTick(() => {
        document.getElementById('myvideo').load();
        document.getElementById('myvideo').play();
      })
    },
    handleImage(value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer;
        viewer.show();
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../Home/page.scss";
.image-ul {
  display: flex;
  flex-wrap: wrap;
  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 70px;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px dotted #e4e7ed;
  overflow: hidden;
}
</style>
